services:
  anvil:
    image: ghcr.io/foundry-rs/foundry:latest
    container_name: anvil
    entrypoint: []
    command:
      - anvil
      - --host
      - 0.0.0.0
      - --port
      - "8545"
      - --fork-url
      - https://eth-mainnet.g.alchemy.com/v2/${ALCHEMY_API_KEY}
      - --fork-block-number
      - "${ANVIL_FORK_BLOCK:-23924320}"
      - --chain-id
      - "1"
      - --code-size-limit
      - "4294967295"
      - --auto-impersonate
    ports:
      - "8545:8545"
    networks: [opimizernet]

networks:
  opimizernet:
    driver: bridge