services:
  ganache:
    image: trufflesuite/ganache:latest
    container_name: ganache
    command:
      - --host
      - 0.0.0.0
      - --port
      - "8545"
      - --miner.blockTime
      - "0"
      - --wallet.mnemonic
      - "test test test test test test test test test test test junk"
      - --wallet.totalAccounts
      - "10"
      - --wallet.defaultBalance
      - "1000"
    ports:
      - "8545:8545"
    volumes:
      - ./ganache-data:/data
