services:
  ganache:
    image: trufflesuite/ganache:latest
    container_name: ganache
    command:
      - --host
      - 0.0.0.0
      - --port
      - "8545"
      - --miner.blockTime
      - "0"
      - --wallet.mnemonic
      - "test test test test test test test test test test test junk"
      - --wallet.totalAccounts
      - "10"
      - --wallet.defaultBalance
      - "1000"
    ports:
      - "8545:8545"
    volumes:
      - ./ganache-data:/data
    networks: [opimizernet]
  compiler:
    image: trailofbits/eth-security-toolbox:nightly
    container_name: compiler
    working_dir: /share
    entrypoint: /bin/bash
    command: -lc "tail -f /dev/null"
    volumes:
      - ./gas-optimizer-orchestrator/src/main/kotlin/de/orchestrator/gas_optimizer_orchestrator/externalContracts:/share
    networks: [opimizernet]

networks:
  opimizernet:
    driver: bridge