services:
  ganache:
    image: trufflesuite/ganache:latest
    container_name: ganache
    command:
      - --host
      - 0.0.0.0
      - --port
      - "8545"
      - --miner.blockTime
      - "0"
      - --wallet.mnemonic
      - "test test test test test test test test test test test junk"
      - --wallet.totalAccounts
      - "10"
      - --wallet.defaultBalance
      - "1000"
    ports:
      - "8545:8545"
    volumes:
      - ./ganache-data:/data
    networks: [opimizernet]
  truffle:
    build:
      context: ./truffle
    image: truffle-compiler
    working_dir: /workspace
    volumes:
      - ./:/workspace
    environment:
      PROJECT_DIR: /workspace/truffle
      CONTRACTS_DIR: /workspace/truffle/projectRoot
      BUILD_DIR: /workspace/truffle/build/contracts
      STAGED_DIR: /workspace/truffle/staged
    depends_on:
      - ganache
    networks: [ opimizernet ]
networks:
  opimizernet:
    driver: bridge